@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}

body {
  padding: 2.2rem 2rem;
}

/*Títulos*/
main .titulos {
  text-align: center;
  margin-top: 14px;
}

main h2 {
  font-weight: 900;
}

main h3 {
  font-weight: 400;
  color: #424242;
}

/*Main*/
main {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

/*Imagen*/
main img {
  width: 48%;
  height: 90dvh;
}

/*Registro*/
.campos-registro {
  width: 50%;
  height: 90dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registro-div {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap:1rem;
}

.registro-div form {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

form{
    margin-top: 1rem;
}

form .campos {
  position: relative;
  margin-bottom: 12px;
}

form .campos input, form select {
  height: 40px;
  background-color: #eef3f7;
  border: 1px solid #cfdce7;
  width: 100%;
  font-size: 15px;
  padding: 0 2.2rem;
  color: #2a3d66;
  border-radius: 9px;
}

form select{
      height: 40px;
  background-color: #eef3f7;
  border: 1px solid #cfdce7;
  width: 50%;
  font-size: 15px;
  padding: 0 2.2rem;
  color: #2a3d66;
  border-radius: 9px;
}

form .campos-select{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}


.campos i {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: rgb(160,160,160);
  font-size: 15px;
}

button {
  background-color: #24243e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin-top: 2rem;
  cursor: pointer;
  border: none;
  color: #fff;
}

button i {
  color: #fff;
  font-size: 14px;
}
